{% extends 'ads/base.html' %}

{% block title %}Список городов{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Список городов</h1>

    <ul class="list-group mb-4">
        {% for city in cities %}
        <li class="list-group-item">
            <a href="?city={{ city.slug }}&{{ querystring }}">{{ city.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <!-- Пагинация -->
    <nav>
        <ul class="pagination">
            {% if cities.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ cities.previous_page_number }}&{{ querystring }}">Назад</a>
            </li>
            {% endif %}

            {% for num in cities.paginator.page_range %}
            {% if cities.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% elif num > cities.number|add:'-3' and num < cities.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}&{{ querystring }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}

            {% if cities.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ cities.next_page_number }}&{{ querystring }}">Вперёд</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
